
.container{
    display: flex;
    justify-content: space-between;
    background-color: rgb(58, 57, 56);
    align-items: center;
    box-shadow: 0 9px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}
nav{
    word-spacing: 50px;
}
a{
    transition: 0.5s;
    font-family: Trebuchet MS;
    color: burlywood;
    font-size: large;
    text-decoration: none;
}
a:hover{
    transition: margin-right 2s 5s;
    color:rgb(101, 134, 163);
}
header{
    margin-left: 20px;
    font-family:Franklin Gothic Small;
    color: darksalmon;
    font-style: italic;
}
.search{
    margin-right: 30px;
}
input{
    border-radius: 20px;
}

