body{
    background-color: rgb(122, 122, 122);
    font-family:Tahoma;

}
header{
    color:sandybrown;
    text-align: left;
    margin-left: 30px;
}
nav{
    float: left;
    background-color:rgb(109, 109, 109);
    margin-left:20px;
    margin-right: 50px;  

    padding-left: 40px;
    padding-right: 170px;
    padding-bottom: 30px;
    text-align: center;
    line-height: 25px;
    margin-right: 0px;
    margin-top: 0px;
}   
main{
    background-color:rgb(152, 152, 152);
    margin-left:20px;
    margin-right: 100px;
    padding-left: 50px;
    padding-right: 80px;
    padding-bottom: 20px;
    overflow: auto;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 8px;
    
}
div{ 
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 6px;
    float: left;
    box-shadow: 0 9px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
footer{
    clear: both;
    background-color: rgb(87, 87, 87);
    text-align: center;
    padding-top: 20px;
    padding-left: 90px;
    padding-bottom: 20px;
    margin-left:29px;
    margin-right: 100px;
}



