body {
    display:grid;
    grid-template-areas:
    'nav nav nav nav nav'
    'sec1 sec1 sec1'
    'sec2 sec2 sec2'
    'sec3 sec3 sec3'
    'footer footer footer footer';
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(58, 57, 56);
    align-items: center;
    box-shadow: 0 9px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}
nav a{
    transition: 2.5s;
    font-family: Trebuchet MS;
    color: burlywood;
    font-size: large;
    text-decoration: none;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 40px;


}
nav a:hover{
    transition: margin-right 6s 5s;
    color:rgb(176, 183, 189);
}
header{
    margin-left: 20px;
    font-family:Franklin Gothic Small;
    color: darksalmon;
    font-style: italic;
}
.search{
    margin-right: 30px;
}
nav button{
    margin-right: 30px;
    display: none;
}
nav input{
    border-radius: 20px;
}
@media screen and (max-width: 628px){
  nav  ul{
        display:none;
    }
    .search{
        justify-content: left;
    }
    nav button{
        display:flex;
    }
}
@media screen and (max-width: 390px){
    .search{
        display:none;
    }
}
/*Apartir de aqui es el segundo main = contenedor*/
.t2 {
    display: flex;
    justify-content: center;
    margin: 70px 80px 80px;
    font-family: Georgia;
    color: rgb(156, 130, 97);
}
.sec2{
     font-family: Verdana;
    display: flexbox;
    justify-content: center;
    background-color: aqua;
}
.sec1-2{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.img2 {
    width: 170px;
    height: 170px;
    border-radius: 50%;
}


.d2 {
    width: 200px;
    justify-content: center;
    padding: 10px 20px 20px 20px;
    text-align: center;
    box-shadow: 3px 2px 4px 1px rgba(0, 0, 0, 0.096), 0 6px 20px 0 rgba(0, 0, 0, 0.024);
    transition: transform .2s;
}

.d2:hover {
    transform: scale(1.05);
}

h3 {
    color: burlywood;
}

.n {
    color: darksalmon;
}
/*Apartir de aqui es el tercer section = contenedor*/
.sec3{
    font-family: Verdana;
   display: flexbox;
   justify-content: center;
   background-color: rgb(119, 211, 211);
}
.sec1-3{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.d3 {
    width: 200px;
    justify-content: center;
    padding: 10px 20px 20px 20px;
    text-align: center;
    box-shadow: 3px 2px 4px 1px rgba(0, 0, 0, 0.096), 0 6px 20px 0 rgba(0, 0, 0, 0.024);
    transition: transform .2s;
}
.d3:hover {
    transform: scale(1.05);
}

.img3 {
    width: 170px;
    height: 170px;
    border-radius: 50%;
}