.containter{
  height: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex: 1;
}
.todo{
  display: flex;
  font-size: 24px;
  flex: 1;
  
}
.container-sm{
  height: 100vh;
}