.center{
    display: grid;
    justify-content: center;
}
button{
    border: none;
    border-radius: 10px;
    text-decoration: none;
    background: linear-gradient(#e0f8ff, #fef5d7);
    padding: 20px;
    margin: 10px 0;
}
#comenttext{
    display: flex;
}
#coments{
    display: none;
}