article {
    border: 2px solid rgba(152, 152, 152, 0.094);
    border-radius: 9px;
    background-color: rgb(255, 255, 255);
    color: #090909;
    justify-content: center;
    text-align:start;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition-duration: 0.8s;
}
  
main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr;
    grid-auto-flow:row;
    justify-content: space-between;
    gap: 20px;

}

img{
    width: 99.9%;
    height: 500px;
    object-fit:cover;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}
article:hover {
    transform: scale(1.06);
    transition: 0.8s;
}
p,h3{
    padding-left: 20px;
}